.start-scene,
.end-scene {
  display: none;
  z-index: 15;

  .photo {
    position: absolute;
    left: 50%;
    top: 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &-photo-1 {
    z-index: 10;
    width: em(430px);
    height: em(470px);
    margin-left: em(-225px);
    margin-top: em(-120px);
    background-size: cover;
    background-image: url(../images/bg/card4.jpg);
    padding-top: em(50px);
    padding-left: em(20px);
    padding-right: em(20px);
    padding-bottom: em(40px);
    color: #302a1e;

    h2 {
      font-weight: normal;
      font-size: em(22px);
      margin-bottom: em(34px, 22px);
      text-align: center;
      color: #da4216;
    }

    p {
      font-size: em(14px);
      line-height: em(17px, 14px);
      text-align: justify;
      margin-bottom: em(3px);
    }

    .arrow-down {
      cursor: pointer;
      display: block;
      animation-name: arrowDown;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      position: absolute;
      bottom: em(30px);
      left: 50%;
      width: em(70px);
      margin-left: em(-40px);
      height: em(25px);
      background-image: url(../images/start-screen/scrollarrow.svg);
      background-repeat: no-repeat;
      background-size: contain;

      @keyframes arrowDown {
        0% { bottom: em(45px); }
        100% { bottom: em(30px); }
      }
    }
  }

  &-photo-2 {
    z-index: 9;
    width: em(335px);
    height: em(215px);
    margin-left: em(-150px);
    margin-top: em(-240px);
    transform: rotate(-8deg);
    background-image: url(../images/start-screen/cards/02.png);
  }

  &-photo-3 {
    z-index: 8;
    width: em(361px);
    height: em(275px);
    margin-left: em(137px);
    margin-top: em(-188px);
    transform: rotate(5deg);
    background-image: url(../images/start-screen/cards/03.png);
  }

  &-photo-4 {
    z-index: 8;
    width: em(340px);
    height: em(206px);
    margin-left: em(110px);
    margin-top: em(16px);
    transform: rotate(6deg);
    background-image: url(../images/start-screen/cards/04.png);
  }

  &-photo-5 {
    z-index: 6;
    width: em(443px);
    height: em(243px);
    margin-left: em(-485px);
    margin-top: em(-191px);
    transform: rotate(18deg);
    background-image: url(../images/start-screen/cards/05.png);
  }

  &-photo-6 {
    z-index: 7;
    width: em(350px);
    height: em(225px);
    margin-left: em(-484px);
    margin-top: em(-4px);
    transform: rotate(-6deg);
    background-image: url(../images/start-screen/cards/06.png);
  }

  &-photo-7 {
    z-index: 9;
    width: em(290px);
    height: em(220px);
    margin-left: em(133px);
    margin-top: em(190px);
    transform: rotate(22deg);
    background-image: url(../images/start-screen/cards/07.png);
  }

  &-photo-8 {
    z-index: 6;
    width: em(350px);
    height: em(225px);
    margin-left: em(-480px);
    margin-top: em(163px);
    transform: rotate(-16deg);
    background-image: url(../images/start-screen/cards/08.png);
  }

  &-photo-9 {
    z-index: 8;
    width: em(330px);
    height: em(225px);
    margin-left: em(-26px);
    margin-top: em(247px);
    transform: rotate(-12deg);
    background-image: url(../images/start-screen/cards/09.png);
  }

  &-photo-10 {
    z-index: 7;
    width: em(370px);
    height: em(255px);
    margin-left: em(-282px);
    margin-top: em(245px);
    transform: rotate(15deg);
    background-image: url(../images/start-screen/cards/10.png);
  }
}
