@keyframes arrowDown {
  0% { bottom: 50px; }
  100% { bottom: 20px; }
}

@keyframes arrowDown2 {
  0% { bottom: 75px; }
  100% { bottom: 30px; }
}

.start-scene,
.end-scene {
  display: none;
  z-index: 15;

  .photo {
    position: absolute;
    left: 50%;
    top: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 53px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 27px;

    h2 {
      font-weight: normal;
      text-transform: capitalize;
      font-size: 22px;
      margin-bottom: 34px;
      text-align: center;
      color: #da4216;
    }

    p {
      font-size: 14px;
      line-height: 16px;
      text-align: justify;
    }

    .arrow-down {
      animation-name: arrowDown;
      animation-duration: 1.25s;
      animation-iteration-count: 10;
      position: absolute;
      bottom: 33px;
      left: 50%;
      width: 70px;
      margin-left: -35px;
      height: 25px;
      background-image: url(../images/start-screen/scrollarrow.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &-photo-1 {
    z-index: 10;
    width: 430px;
    height: 470px;
    margin-left: -225px;
    margin-top: -120px;
    background-size: cover;
    background-image: url(../images/bg/card4.jpg);
  }

  &-photo-2 {
    z-index: 9;
    width: 335px;
    height: 215px;
    margin-left: -150px;
    margin-top: -240px;
    transform: rotate(-8deg);
    background-image: url(../images/start-screen/cards/02.png);
  }

  &-photo-3 {
    z-index: 8;
    width: 361px;
    height: 275px;
    margin-left: 137px;
    margin-top: -188px;
    transform: rotate(5deg);
    background-image: url(../images/start-screen/cards/03.png);
  }

  &-photo-4 {
    z-index: 8;
    width: 340px;
    height: 206px;
    margin-left: 110px;
    margin-top: 16px;
    transform: rotate(6deg);
    background-image: url(../images/start-screen/cards/04.png);
  }

  &-photo-5 {
    z-index: 6;
    width: 443px;
    height: 243px;
    margin-left: -485px;
    margin-top: -191px;
    transform: rotate(18deg);
    background-image: url(../images/start-screen/cards/05.png);
  }

  &-photo-6 {
    z-index: 7;
    width: 350px;
    height: 225px;
    margin-left: -484px;
    margin-top: -4px;
    transform: rotate(-6deg);
    background-image: url(../images/start-screen/cards/06.png);
  }

  &-photo-7 {
    z-index: 9;
    width: 290px;
    height: 220px;
    margin-left: 133px;
    margin-top: 190px;
    transform: rotate(22deg);
    background-image: url(../images/start-screen/cards/07.png);
  }

  &-photo-8 {
    z-index: 6;
    width: 350px;
    height: 225px;
    margin-left: -480px;
    margin-top: 163px;
    transform: rotate(-16deg);
    background-image: url(../images/start-screen/cards/08.png);
  }

  &-photo-9 {
    z-index: 8;
    width: 330px;
    height: 225px;
    margin-left: -26px;
    margin-top: 247px;
    transform: rotate(-12deg);
    background-image: url(../images/start-screen/cards/09.png);
  }

  &-photo-10 {
    z-index: 7;
    width: 370px;
    height: 255px;
    margin-left: -282px;
    margin-top: 245px;
    transform: rotate(15deg);
    background-image: url(../images/start-screen/cards/10.png);
  }
}

// 1920 //
@media (min-width: $fullhd-width-breakpoint) and (min-height: $fullhd-height-breakpoint) {
  .start-scene {
    .photo {
      padding-top: 90px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;

      h2 {
        font-size: 40px;
        margin-bottom: 58px;
      }

      p {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 16px;
      }

      .arrow-down {
        animation-name: arrowDown2;
        width: 120px;
        margin-left: -60px;
        height: 40px;
        bottom: 75px;
      }
    }

    &-photo-1 {
      width: 760px;
      height: 830px;
      margin-left: -375px;
      margin-top: -252px;
    }

    &-photo-2 {
      width: 580px;
      height: 370px;
      margin-left: -240px;
      margin-top: -457px;
    }

    &-photo-3 {
      width: 650px;
      height: 480px;
      margin-left: 237px;
      margin-top: -378px;
    }

    &-photo-4 {
      width: 700px;
      height: 420px;
      margin-left: 100px;
      margin-top: -24px;
    }

    &-photo-5 {
      width: 710px;
      height: 410px;
      margin-left: -815px;
      margin-top: -380px;
      // background-color: rgba(0, 0, 0, 0.25);
    }

    &-photo-6 {
      width: 600px;
      height: 400px;
      margin-left: -824px;
      margin-top: -54px;
    }

    &-photo-7 {
      width: 530px;
      height: 390px;
      margin-left: 233px;
      margin-top: 275px;
    }

    &-photo-8 {
      width: 600px;
      height: 405px;
      margin-left: -820px;
      margin-top: 233px;
    }

    &-photo-9 {
      width: 600px;
      height: 415px;
      margin-left: -26px;
      margin-top: 380px;
    }

    &-photo-10 {
      width: 630px;
      height: 455px;
      margin-left: -472px;
      margin-top: 385px;
    }
  }
}
