.station-2 {
  z-index: 10;

  & > div {
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
  }

  .sanitary-train {
    left: 50%;
    bottom: 8px;
    width: 2000px;
    margin-left: -1000px;
    height: 250px;
    background-image:
      url(../images/station-2/Sani_cart.svg),
      url(../images/station-2/Sani_cart.svg),
      url(../images/station-2/Sani_loco.svg),
      url(../images/bg/basic/tree1.svg),
      url(../images/bg/basic/tree2.svg),
      url(../images/bg/basic/tree1.svg);
    background-position:
      3% 93%,
      51% 93%,
      99% 91%,
      67% 92%,
      26% 91%,
      0% 95%;
    background-size:
      650px auto,
      650px auto,
      650px auto,
      130px auto,
      220px auto,
      100px auto;

    &__layer {
      position: absolute;
      left: 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .woman3 {
      width: 30px;
      height: 50px;
      margin-left: 108px;
      bottom: 173px;
      background-image: url(../images/station-2/woman3.png);
    }

    .cariage1 {
      width: 156px;
      height: 107px;
      margin-left: -787px;
      bottom: -8px;
      background-image: url(../images/station-2/cariage1.png);
    }

    .cariage2 {
      width: 40px;
      height: 100px;
      margin-left: -493px;
      bottom: -8px;
      background-image: url(../images/station-2/carriage2.png);
    }

    .man2 {
      width: 30px;
      height: 105px;
      margin-left: 645px;
      bottom: 0;
      background-image: url(../images/station-2/man2.svg);
    }

    .man2-2 {
      width: 27px;
      height: 105px;
      margin-left: -235px;
      bottom: -8px;
      background-image: url(../images/station-2/man3.svg);
    }

    .man3 {
      width: 27px;
      height: 100px;
      margin-left: 276px;
      bottom: -8px;
      background-image: url(../images/station-2/man3.svg);
      transform: scaleX(-1);
    }

    .man4 {
      width: 45px;
      height: 104px;
      margin-left: 518px;
      bottom: -8px;
      background-image: url(../images/station-2/man4.svg);
    }

    .woman2 {
      width: 26px;
      height: 100px;
      margin-left: 300px;
      bottom: -8px;
      background-image: url(../images/station-2/woman2.svg);
    }

    .crowd {
      width: 40px;
      height: 100px;
      margin-left: -214px;
      bottom: -8px;
      background-image: url(../images/station-2/crowd.svg);
    }
  }
}
