.station-1 {
  .crowd {
    position: absolute;
    z-index: 3;
    left: 50%;
    margin-left: -567px;
    bottom: 10px;
    width: 1105px;
    height: 80px;
    background-repeat: no-repeat;
    background-image: url(../images/03-station-1/crowd3.svg);
    background-size: cover;
    background-position: 0 0;
  }

  .build {
    position: absolute;
    z-index: 3;
    left: 50%;
    right: 0;
    bottom: 0;
    width: 1190px;
    height: 440px;
    margin-left: -595px;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background-position-y: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      top: 0;
    }

    &::before {
      right: 0;
      background-image: url(../images/03-station-1/belorusskiy.png);
      background-position-x: right;
    }

    &::after {
      left: 0;
      background-image: url(../images/03-station-1/belorusskiy.png);
      transform: scaleX(-1);
      background-position-x: left;
    }
  }

  .left {
    position: absolute;
    z-index: 2;
    left: -594px;
    bottom: 0;
    width: 1480px;
    height: 330px;
    background-image:
      url(../images/bg/basic/tree1.svg),
      url(../images/03-station-1/moscow1.svg);
    background-position: 30% bottom, 63% bottom;
    background-repeat: no-repeat;
    background-size: 130px auto, contain;
  }

  .right {
    position: absolute;
    z-index: 2;
    right: -740px;
    bottom: 0;
    width: 1430px;
    height: 330px;
    background-image:
      url(../images/bg/basic/tree2.svg),
      url(../images/bg/basic/tree1.svg),
      url(../images/bg/basic/tree1.svg),
      url(../images/03-station-1/crowd1-light.svg),
      url(../images/03-station-1/crowd2-light.svg),
      url(../images/03-station-1/moscow1.svg);
    background-position:
      63% bottom,
      46% bottom,
      75% bottom,
      56% 99.6%,
      47% 99.6%,
      -80px bottom;
    background-repeat: no-repeat;
    background-size:
      230px auto,
      120px auto,
      120px auto,
      90px auto,
      90px auto,
      contain;
  }
}
