// map
.map {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 66%;
  bottom: 0;
  left: 0;
  right: 0;
  // background-image: url('../images/map.png');
  background-position: center;
  background-image: url('../images/bg/basic/map.png');
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 155, 55, 0.25);
  }
}

// navigation menu
.menu {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 37%;
  width: 100%;
  height: 15px;
  padding-left: 55px;
  padding-right: 55px;
  // linear-gradient for #302a1e line in center
  // background-image: linear-gradient(to right, white 0, white 10%, #302a1e 10%, #302a1e 20%, white 20%, white 30%, #302a1e 30%, #302a1e 40%, white 40%, white 50%, #302a1e 50%, #302a1e 60%, white 60%, white 70%, #302a1e 70%, #302a1e 80%, white 80%, white 90%, #302a1e 90%, #302a1e 100%);
  border-top: 3px solid #302a1e;
  border-bottom: 3px solid #302a1e;
  background-color: #ece3d4;
  list-style: none;
  display: flex;
  // justify-content: center;

  &-item {
    position: relative;

    &:nth-child(even) {
      a:last-child {
        &::before,
        &::after { background-color: #302a1e; }
      }
    }

    a:first-child {
      color: #302a1e;
      font-weight: bold;
      text-decoration: none;
      position: absolute;
      padding: 1px 3px;
      font-size: 12px;
      line-height: 15px;
      background-color: rgba(255, 255, 255, 0.7);
      border: 2px solid #302a1e;
      width: 100px;
      height: 40px;
      top: 50%;
      left: 50%;
      margin-left: -90px;
      margin-top: -70px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.23s;

      &:hover { color: #da4216; }
    }

    a:last-child {
      position: relative;
      z-index: 1;
      top: -10px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-image: url(../images/bg/map_point.svg);
      background-color: transparent;
      background-repeat: no-repeat;
      border-radius: 50%;
      background-position: center center;
      transition: all 0.23s;
      margin-right: 80px;
      text-decoration: none;

      &::before {
        content: "";
        position: absolute;
        z-index: 2;
        display: block;
        width: 41px;
        height: 9px;
        top: 10px;
        left: -40px;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        display: block;
        width: 41px;
        height: 9px;
        top: 10px;
        right: -40px;
      }

      &:hover {
        color: #da4216;

        a { color: #fff; }
      }
    }

    &-active {
      a:first-child {
        cursor: default;
        pointer-events: none;
        border: 3px solid #da4216;
        color: #da4216;
      }

      a:last-child {
        cursor: default;
        pointer-events: none;
        background-image: url(../images/bg/map_point_sel.svg);
      }
    }
  }
}

.footer {
  position: absolute;
  z-index: 2;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 27px;
  padding-bottom: 12px;
  padding-right: 17px;

  .life-logo {
    width: 58px;
    height: auto;
  }

  .rzd-logo {
    width: 58px;
    height: auto;
  }
}
