@import "base/index";
@import "layouts/index";
@import "backgrounds/index";
@import "stations/index";

.train {
  //visibility: hidden;
  position: fixed;
  z-index: 15;
  width: em(710px);
  height: em(220px);
  bottom: 33%;
  right: 50%;
  background-image: url(../images/bg/basic/train.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
}

.action {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 33%;
}

.scene {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cards-scene {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
}
