@import "base/index";
@import "layouts/index";
@import "backgrounds/index";
@import "stations/index";

.photo {
  p.card-info {
    text-align: right;
    position: absolute;
    bottom: 0;
    left: em(15px);
    right: em(15px);
    color: rgba(48, 42, 30, 0.5);
    font-size: em(11px, 12px);
    line-height: em(13px, 12px);
    padding-bottom: em(5px);

    &.black {
      padding-bottom: em(20px);
      padding-right: em(5px);
    }

    &.top {
      bottom: auto;
      top: 0;
    }
  }
}

.action {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: $rail-line;
}

.scene {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(255, 0, 0, 0.25);

  & > div {
    background-repeat: no-repeat;
  }
}

.road {
  .bg-trees {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba(0, 255, 0, 0.25);
  }
}

.cards-scene {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
}

div.clouds {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: rgba(0, 0, 255, 0.5);
}

// fix jump layout on mobile
@media (max-width: 900px) {
  .road {
    padding-left: 100vw;
    padding-right: 100vw;
  }
}

@media (max-width: $mobile-breakpoint) {
  .station {
    padding-left: 150vw;
    padding-right: 150vw;

    &.station-10 {
      padding-left: 50vw;
      padding-right: 50vw;
    }
    // background-color: rgba(255, 0, 0, 0.25);
  }

  .station.station-3,
  .station.station-8 {
    padding-left: 300vw;
    padding-right: 300vw;
  }

  .road {
    padding-left: 200vw;
    padding-right: 200vw;
    // background-color: rgba(0, 255, 0, 0.25);
  }

  .train {
    right: 120vw;
  }

  .road-trigger {
    height: 3000px !important;
  }

  .station-trigger {
    height: 5000px !important;
  }
}

@media (max-height: 500px) {
  .train,
  .action {
    bottom: $rail-line-mobile-landscape;
  }
}
