@import "~reset-css/reset.css";

// backgrounds
@import "map";
@import "background";
@import "train";

// stations
@import "stations/start-scene";
@import "stations/station-1.scss";
@import "stations/station-1-cards.scss";
@import "stations/station-2.scss";
@import "stations/station-2-cards.scss";
@import "stations/end-scene";

// roads
@import "roads/road-1.scss";
@import "roads/road-2.scss";

* { box-sizing: border-box; }

body {
  background-color: #adbdb1;
  font-family: Verdana, sans-serif;
}

.action {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 34%;
}

.scene {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
