.train {
  position: fixed;
  z-index: 15;
  width: 710px;
  height: 220px;
  bottom: 36%;
  right: 50%;
  margin-left: -300px;
  background-image: url('../images/bg/basic/train.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
}
