.station {
  width: 850px;
  height: 310px;
  position: fixed;
  z-index: 2;
  left: 50%;
  bottom: 36%;
  margin-left: -425px;

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
  }

  &::before {
    right: 0;
    background-image: url('../images/belorusskiy.png');
    background-position-x: right;
  }

  &::after {
    left: 0;
    background-image: url('../images/belorusskiy.png');
    transform: scaleX(-1);
    background-position-x: left;
  }
}
