.bridge {
  position: fixed;
  z-index: 4;
  left: 50%;
  bottom: 36%;
  margin-left: -256px;
  width: 512px;
  height: 206px;
  background-image: url('../images/bridge.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
