.footer {
  background: transparent;
  position: fixed;
  z-index: 100;
  height: em(50px);
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: em(27px);
  padding-bottom: em(12px);
  padding-right: em(17px);

  .life-logo {
    width: em(58px);
    height: auto;
  }

  .rzd-logo {
    width: em(58px);
    height: auto;
  }
}
