.progressbar {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 400px;

  padding: 40px;

  border: 3px solid #222;
  background-color: #fff;
  border-radius: 20px;

  font-size: em(30px);
  color: #222;
  text-align: center;

  z-index: 1000;
}
