.road-1,
.road-2,
.road-3,
.road-4,
.road-5,
.road-6,
.road-7,
.road-8,
.road-9,
.road-10 {
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 100;
}
